.body {
    font-family: sans-serif;
    color: rgb(71, 198, 230);
  }

  header{ 

    background-color: #7bbfd8;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
    
    }

   